*{
  margin: 0;
}

#LoginPage{
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#NavigatePanel{
  display: flex;
  flex-direction: row;
  height: 5vh;
}
.navComponent{

  width: 100%;
  background-color: rgb(129, 157, 105);
  border-style: inset;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navComponent:hover{
  background-color: rgb(209, 197, 91);
}
.navText{
  color: rgb(255, 255, 0);
  -webkit-text-stroke: 1px black;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:4.4vh;
}

table {
	width: 100%;
	margin-bottom: 20px;
  margin-top: 2%;
	border: 1px solid #dddddd;
	border-collapse: collapse; 

}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
table td {
	border: 1px solid #dddddd;
	padding: 5px;
  background: #efefefad;

}
tr:hover{
  background-color: #f9f077;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: center;

  justify-items: center;
  position: relative;
  height: 90vh;
  background-image: url('../public/logo.png');
  background-size: cover;
}

.people_table{
  width: 60%;
}
#person-form{
  width: 20%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  margin-left: 2%;
  padding-right: 5%;
  margin-top: 10%;
  gap: 1vh;
  background-color: rgba(186, 186, 125, 0.596);
  height: 60vh;
  border-radius: 5%;

}
.deletePerson{
  display: flex;
  align-items: center;
  justify-content: center;
}
.deletePerson button{
  width: 100%;
}
.pagination{
  display: flex;
  justify-content: center;
}
#footer{
  height: 5vh;
  background-color: rgb(129, 157, 105);
  display: flex;
  justify-content: center;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:xx-large;
  align-items: center;
  color: rgb(255, 251, 0);
  -webkit-text-stroke: 1px black;
}
#map{
  background-image: url('../public/map.gif');
  width: 65%;
  height: 100%;
  background-size:cover;

}

.mapButton{
  background-color: #005417;
  border: none;
  color: white;
  width: 5%;
  height: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  font-size: xx-large;
  border-radius: 100%;
  position: absolute;
}
.mapButton:hover{
  background-color: #d5cc4f;
}
#territory1{
  margin-top: 23%;
  margin-left: 17%;
}
#territory2{
  margin-top: 12%;
  margin-left: 35%;
}
#territory3{
  margin-top: 33%;
  margin-left: 45%;
}